body {
    padding: 10px;
}

.text-blue {
    color: #336ff4;
}

.dot {
    height: 7px;
    width: 7px;
    margin-top: 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block
}

.image {
    width: 5px;
    height: 5px;
}